.footer-container {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #36d7b7;
    color: #fff;
    padding: 20px 30px 20px;
}
.footer-container scan {
    font-weight: bold;
}