/* loading component */
.parent-loading {
    position: relative;
}

.loading-component {
    text-align: center;
    padding-top: 300px;
    height: 100%;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    background-color: #fff;
}

.main-container {
	margin: 50px 250px 50px 250px;
}

.breadcrumb {
    margin-top: 99px;
    padding-left: 50px;
}

.breadcrumb a {
    text-decoration: none;
}

.breadcrumb > li.active ~ li.active {
	display: none;
}

