html {
	height: 100%;
	box-sizing: border-box;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	padding-bottom: 6em;
	min-height: 100%;
	background-color: #FDFEFE;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

.btn-primary {
	background-color: #36d7b7;
	border-color: #46c5ac;
	color: #fff;
	margin-left: 5px;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
	background-color: #44ac97 !important;
	border-color: #418679 !important;
}

.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:focus, 
.dropdown-menu > .active > a:hover {
	background-color: #36d7b7;
}

.main-container {
	margin: 140px 250px 50px 250px;
}

.main-header {
	color: #3f3844;
	padding-bottom: 10px;
	border-bottom: 1px solid #E5E7E9;
	font-weight: bold;
}

.btn-select {
	float: right;
}

.btn-select > button {
	width: 190px;
}

.content {
	margin: 25px 0;
}

.badge-success {
	background-color: #5cb85c;
}

.badge-danger {
	background-color: #d9534f;
}