html {
	height: 100%;
	box-sizing: border-box;
}

body {
	position: relative;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	padding-bottom: 6em;
	min-height: 100%;
	background-color: #FDFEFE;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h5 {
	font-size: 16px;
	margin: 0;
    line-height: 1.4;
}

.btn-group button {
	margin-right: 5px;
	border-radius: 3px !important;
	float: none !important;
}

.btn-primary {
	background-color: #36d7b7;
	border-color: #46c5ac;
	color: #fff;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
	background-color: #44ac97 !important;
	border-color: #418679 !important;
}

.dropdown-menu > .active > a, 
.dropdown-menu > .active > a:focus, 
.dropdown-menu > .active > a:hover {
	background-color: #36d7b7;
}

.main-container {
	margin: 140px 250px 50px 250px;
}

.small-container {
	margin: 0 100px;
}

.main-header {
	color: #3f3844;
	padding-bottom: 10px;
	border-bottom: 1px solid #E5E7E9;
	font-weight: bold;
}

.select-sort {
	float: right;
}

.select > button {
	width: 100px;
}

.select-sort .caret,
.select .caret {
	float: right;
	margin-top: 8px;
}

.select-sort > button {
	width: 190px;
}

.content {
	margin: 25px 0;
}

.badge-success {
	background-color: #5cb85c;
}

.badge-danger {
	background-color: #d9534f;
}

.input-danger {
	border-color: #d9534f !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(217,83,79,.6) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(217,83,79,.6) !important;
}

.span-danger {
	color: #d9534f;
	margin-top: 3px;
	display: inline-block;
}

.list-row {
	width: 100%;
    margin: 0;
    padding: 0;
}

.list-row > .row {
	padding-bottom: 30px;
	padding-top: 20px;
	border-bottom: 1px solid #E5E7E9;
}

.list-row > .row > div {
    position: initial;
}

.list-row > .row > div:last-child {
    padding-left: 115px;
}

.list-row > .row:last-child {
    border-bottom: 0;
}

.list-row a:active,
.list-row a:hover,
.list-row a {
    text-decoration: none;
}

.list-row .badge {
	margin-left: 10px;
}

.author-details {
	color: #848d95;
    font-size: 12px;
}